* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-attachment: local;
}

.box {
    padding: 20px;
}

.writing {
    background-image: url("image.jpg");
    background-size: cover;    
    background-position: center;
    padding: 50px 30px;       
}

.writing p {
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 18px;
    color: yellow;
    text-align: center;
}