* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("texture.jpg"); 
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.poster {
    background-image: url("image2.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #312b29;
    width: 100%;
    max-width: 900px;
}

.small-top {
    font-size: 40px;
    padding-top: 50px;
    letter-spacing: 6px;
    color: #b58b3a;
}

.main-title {
    font-family: 'Great Vibes', cursive;
    font-size: 140px;
    margin: 10px 0;
}

.gold-title {
    font-size: 45px;
    letter-spacing: 4px;
    margin: 10px 0;
    color: #b58b3a;
}

.sub-title {
    font-size: 30px;
    letter-spacing: 10px;
    margin: 20px 0;
    text-transform: uppercase;
}

.cursive {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #c99347;
    margin-top: 20px;
}

.bottom-line {
    margin-top: 50px;
    font-size: 18px;
    letter-spacing: 7px;    
    color: #6d6358;       
    text-transform: uppercase; 
}
