* {
    margin: 0;
    padding: 0;
;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
   
    margin: 0 auto;
    
    padding: 0 80px;
    
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
ul,li{
    list-style: none;
}

img {
    width: 100%;
    height: 100%;

}
body {
    color: white;
    font-family: "Montserrat",sans-serif;
}
