body {
    margin: 0;
    padding: 0;
    background: #5f9ea0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
}

.top-inputs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.input-box {
    width: 260px;
    height: 20px;
    border-radius: 12px;
    border: none;
    padding: 8px;
    font-size: 18px;
}

.bottom-input {
    display: block;
    margin: 0 auto 25px auto;
}

.bottom-input:disabled {
  background: white;      
  color: black;           
  border: 1px solid #ccc; 
  opacity: 1;             
}

.buttons button {
    width: 100px;
    height: 35px;
    margin: 0 10px;
    border-radius: 8px;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
    font-size: 16px;
}
